<!doctype html>
<html lang="pt-br">
 
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{title}}</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{_URL}}/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{_URL}}/vendor/fonts/circular-std/style.css">
    <link rel="stylesheet" href="{{_URL}}/public/libs/css/style.css">
    <link rel="stylesheet" href="{{_URL}}/vendor/fonts/fontawesome/css/fontawesome-all.css">
</head>

<body>
    <!-- ============================================================== -->
    <!-- login page  -->
    <!-- ============================================================== -->
    <div class="splash-container">
        <div class="card ">
            <div class="card-header text-center"><a href="../index.html"><img class="logo-img" src="https://app.gerbit.com.br/static/media/logo_dark.da96e9cd.png" alt="logo" width="240px"></a><span class="splash-description">{{_FORM_ACCESS_RESTRICT}}</span></div>
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <input class="form-control form-control-lg" id="username" type="text" placeholder="{{_FORM_EMAIL}}" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <input class="form-control form-control-lg" id="password" type="password" placeholder="{{_FORM_PASSWORD}}">
                    </div>
                    <div class="form-group">
                        <label class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox"><span class="custom-control-label">{{_FORM_REMEMBER_ME}}</span>
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg btn-block">{{_FORM_SUBMIT}}</button>
                </form>
            </div>
            <div class="card-footer bg-white p-0  ">
                <div class="card-footer-item card-footer-item-bordered">
                    <a href="#" class="footer-link">{{_REGISTER_ACCOUNT}}</a></div>
                <div class="card-footer-item card-footer-item-bordered">
                    <a href="#" class="footer-link">{{_FORM_PASSWORD_FORGOT}}</a>
                </div>
            </div>
        </div>
    </div>
  
    <!-- ============================================================== -->
    <!-- end login page  -->
    <!-- ============================================================== -->
    <!-- Optional JavaScript -->
    <script src="{{_URL}}/vendor/jquery/jquery-3.3.1.min.js"></script>
    <script src="{{_URL}}/vendor/bootstrap/js/bootstrap.bundle.js"></script>
</body>
 
</html>